[phases.setup]
nixPkgs = [
  "php",
  "php82Extensions.pdo",
  "php82Extensions.pdo_mysql",
  "php82Extensions.gd"
]

[phases.build]
commands = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci",
  "npm run build"
]

