[phases.setup]
nixPkgs = ["php", "php82Extensions.pdo", "php82Extensions.pdo_mysql"]

[phases.build]
commands = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci",
  "npm run build"
]

[start]
cmd = "frankenphp php-server public/index.php --port $PORT"
