[build]
builder = "NIXPACKS"

[phases.setup]
nixPkgs = [
  "php",
  "php82Extensions.pdo",
  "php82Extensions.pdo_mysql",
  "php82Extensions.gd"
]

[phases.build]
commands = [
  "composer install --no-dev --optimize-autoloader",
  "php artisan key:generate --force",
  "npm ci",
  "npm run build"
]

[start]
cmd = """
rm -f public/storage || true
php artisan storage:link
frankenphp php-server public/index.php --port $PORT
"""
