[phases.setup]
nixPkgs = [
  "php",
  "php82Extensions.pdo",
  "php82Extensions.pdo_mysql",
  "php82Extensions.gd"
]

[phases.build]
commands = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci",
  "npm run build"
]

[start]
cmd = """
php -d upload_max_filesize=50M -d post_max_size=50M artisan storage:link || true
frankenphp php-server public/index.php --port $PORT --config php.ini
"""
